#title{


font-family: 'Ubuntu', sans-serif;
height: 150px;
}

#heads{
  background-image: url("LGM_TASK/LGM/images/15.jpg");

}
h1{
  font-family: 'Montserrat',;
   font-size: 3.5rem;
   line-height: 1.5;
   font-weight:bolder;
   color: white;
}
.container-fluid{
  padding: 3% 15% 7%;
}



#features{
  padding: 10%;
  background-color: #fff;
  text-align: center;
  position: relative;
  z-index: 1;
}

.pics{
  height: 20px;
}

#videop{
  padding-top: 5%;
  background-color: #B97A95;
  text-align: center;
  padding:2%;
  padding-bottom: 10%;

}





.navbar-brand{
  font-size: 2.5rem;
}
#pricing{
  padding:40px;
  text-align: center;
  padding-bottom: 15%;
  padding-top: 5%;
}
.price{
  padding: 20px;
}
.card-body{
  padding:2px;
}
@media (max-width:1028px) {

  #bg{
    text-align: right;
  }
}
.fontsclr{
  color:#4B3869;
  padding-bottom: 3%;
}
.fontsclr:hover{
  color:#B97A95;
}
#cta{


  align-content: center;
  background-color: #ff4c68;
  text-align: center;




  padding: 5% 13% 2% 13%;

  color: #ffff;
    text-align: center;

}
.ctah{
  color: #ffff;
  font-family: 'Montserrat';
  font-size: 3.5rem;
  padding-bottom: 2%;
}
.buttonsd{
  margin: 5% 2% 5% 0%;
}
#footer{
  align-items: center;
  text-align: center;
  padding: 3%;
  background-color: #F8F0DF;

}
.footerss{
  color: grey;
}
.footicon{
  margin: 1%
}
.pricehead{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  font-size: 3.5rem;
}
.row{
  margin-top: 5%;
}



.pcontent{
  padding-top: 1%;
  max-width: 100%;
  max-height: 100%;
  background-color: #F8F0DF;
  text-align:left;

}
.pcontent:hover{

  background-color: #B97A95;



}
#projects{
  background: #F8F0DF;
  padding-bottom: 10%;
  max-width: 100%;
}
.pj{
  padding-top: 3%;
  font-size: 70px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  font-size: 3.5rem;
  text-align: center;

}
.vp{
  font-size: 70px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  font-size: 3.5rem;
  text-align: center;

}
#carouselInterval{
  padding-top: 2%;
}










.gallerys {
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	position: relative;
	background: white;
	width: 70%;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	border-radius: 5px;
}
.gallerys input[name$="control"] {
	display: none;
}
.gallerys .carousel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	position: relative;
	height: 70vh;
	width: 100%;
}
.gallerys .wrap {
	width: 100%;
	height: 100%;
	position: static;
	margin: 0 auto;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	margin-right: 20px;
}
.gallerys .wrap figure {
	padding: 10px;
	height: 100%;
	min-width: 100%;
	-webkit-transition: opacity 0.25s ease-in-out 0.05s;
	transition: opacity 0.25s ease-in-out 0.05s;
	position: relative;
	left: 0;
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
	box-sizing: border-box;
	text-align: center;
	margin: 0;
	display: block;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	opacity: 1;
}
.gallerys .wrap figure label {
	cursor: zoom-in;
	height: auto;
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
}
.gallerys .wrap figure img {
	cursor: inherit;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	border-radius: 3px;
	margin: 0 auto;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.gallerys .thumbnails {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	min-width: 60px;
	max-height: 100%;
	height: auto;
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-ms-flex-item-align: center;
	align-self: center;
	-ms-flex-preferred-size: auto;
	flex-basis: auto;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	overflow-y: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 0 10px;
	z-index: 20;
}
.gallerys .thumbnails .thumb {
	min-width: 60px;
	height: 60px;
	background-position: center center;
	background-size: cover;
	box-sizing: border-box;
	opacity: 0.7;
	margin: 5px 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	left: 0;
	border-radius: 3px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-repeat: no-repeat;
}
.gallerys .thumbnails .slider {
	position: absolute;
	display: block;
	width: 5px;
	height: calc(60px + 10px);
	z-index: 2;
	margin: 0;
	left: 0;
	-webkit-transition: all 0.33s cubic-bezier(0.3, 0, 0.33, 1);
	transition: all 0.33s cubic-bezier(0.3, 0, 0.33, 1);
}
.gallerys .thumbnails .slider .indicator {
	width: 100%;
	height: 30px;
	max-height: calc(100% - 10px);
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	background: #A44DD8;
	border-radius: 1px;
}
.gallerys input#fullscreen:checked ~ .wrap figure {
	position: fixed;
	z-index: 10;
	height: 100vh;
	width: 100vw;
	padding: 0;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) !important;
	transform: translate(-50%, -50%) !important;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.gallerys input#fullscreen:checked ~ .wrap figure label {
	cursor: zoom-out;
}
.gallerys input#fullscreen:checked ~ .wrap figure label img {
	-webkit-animation: shadow 0.2s;
	animation: shadow 0.2s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-direction: forwards;
	animation-direction: forwards;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	border-radius: 0;
}
.gallerys input#img1:checked ~ .wrap figure {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
.gallerys input#img1:checked ~ .wrap figure:not(:nth-of-type(1)) {
	opacity: 0;
}
.gallerys input#img1:checked ~ .thumbnails .slider {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.gallerys input#img1:checked ~ .thumbnails .thumb:nth-of-type(1) {
	opacity: 1;
	cursor: default;
}
.gallerys input#img2:checked ~ .wrap figure {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}
.gallerys input#img2:checked ~ .wrap figure:not(:nth-of-type(2)) {
	opacity: 0;
}
.gallerys input#img2:checked ~ .thumbnails .slider {
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.gallerys input#img2:checked ~ .thumbnails .thumb:nth-of-type(2) {
	opacity: 1;
	cursor: default;
}
.gallerys input#img3:checked ~ .wrap figure {
	-webkit-transform: translateX(-200%);
	transform: translateX(-200%);
}
.gallerys input#img3:checked ~ .wrap figure:not(:nth-of-type(3)) {
	opacity: 0;
}
.gallerys input#img3:checked ~ .thumbnails .slider {
	-webkit-transform: translateY(200%);
	transform: translateY(200%);
}
.gallerys input#img3:checked ~ .thumbnails .thumb:nth-of-type(3) {
	opacity: 1;
	cursor: default;
}
.gallerys input#img4:checked ~ .wrap figure {
	-webkit-transform: translateX(-300%);
	transform: translateX(-300%);
}
.gallerys input#img4:checked ~ .wrap figure:not(:nth-of-type(4)) {
	opacity: 0;
}
.gallerys input#img4:checked ~ .thumbnails .slider {
	-webkit-transform: translateY(300%);
	transform: translateY(300%);
}
.gallerys input#img4:checked ~ .thumbnails .thumb:nth-of-type(4) {
	opacity: 1;
	cursor: default;
}

@-webkit-keyframes full {
	from {
		-webkit-transform: translate(-50%, -50%) scale(0.8);
		transform: translate(-50%, -50%) scale(0.8);
	}
	to {
		-webkit-transform: translate(-50%, -50%) scale(1);
		transform: translate(-50%, -50%) scale(1);
	}
}

@keyframes full {
	from {
		-webkit-transform: translate(-50%, -50%) scale(0.8);
		transform: translate(-50%, -50%) scale(0.8);
	}
	to {
		-webkit-transform: translate(-50%, -50%) scale(1);
		transform: translate(-50%, -50%) scale(1);
	}
}
@-webkit-keyframes shadow {
	from {
		box-shadow: 0 0 0 100vmin rgba(24, 33, 45, 0), 0 0 10vmin rgba(13, 21, 31, 0);
	}
	to {
		box-shadow: 0 0 0 100vmin rgba(24, 33, 45, 0.6), 0 0 10vmin rgba(13, 21, 31, 0.6);
	}
}
@keyframes shadow {
	from {
		box-shadow: 0 0 0 100vmin rgba(24, 33, 45, 0), 0 0 10vmin rgba(13, 21, 31, 0);
	}
	to {
		box-shadow: 0 0 0 100vmin rgba(24, 33, 45, 0.6), 0 0 10vmin rgba(13, 21, 31, 0.6);
	}
}
#gall{
  padding-bottom: 5%;
  padding-top: 5%;
}


.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }




input:focus, textarea:focus, keygen:focus, select:focus {
	outline: none;
}
::-moz-placeholder {
	color: #666;
	font-weight: 300;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #666;
	font-weight: 300;
}


/* Contact Form Styling */
.container {
	padding: 0 50px 70px;
}
.textcenter {
	text-align: center;
}
.section1 {
	text-align: center;
	display: table;
	width: 100%;
}

.section1 .seperator {
	border-bottom:1px solid #a2a2a2;
	width: 35px;
	display: inline-block;
	margin: 20px;
}

.section1 h1 {
	font-size: 40px;
	color: #A44DD8;
	font-weight: normal;
}

.section2 {
    width: 1200px;
    margin: 25px auto;
}
.section2 .cols2 {
	width: 48.71%;
}
.section2 .cols2.first {
	float: left;
}
.section2 .cols2.last {
	float: right;
}
.section2 .cols2.column2 {
	padding: 0 30px;
}
.section2 span.collig {

	margin-right: 10px;
	display: inline-block;
}
.section2 .sec2addr {
	display: block;
	line-height: 26px;
}
.section2 .sec2addr p:first-child {
	margin-bottom: 10px;
}
.section2 .contactform input[type="text"],
.section2 .contactform input[type="email"],
.section2 .contactform textarea {
    padding: 18px;
    border: 0;
    background: #FCD2D1;
    margin: 7px 0;
}
.section2 .contactform textarea {
	width: 100%;
	display: block;
	color: #666;
  resize:none;
}
.section2 .contactform input[type="submit"] {
	padding: 15px 40px;
    color: #fff;
    border: 0;
    background: #A44DD8;
    font-size: 16px;
    text-transform: uppercase;
    margin: 7px 0;
    cursor: pointer;
}
.section2 .contactform h3 {
	font-weight: normal;
    margin: 20px 0;
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 19px;
    color: #A44DD8;
}

/* @media querries */

@media only screen and (max-width: 1266px) {
	.section2 {
		width: 100%;
	}
}
@media only screen and (max-width: 960px) {
	.container {
		padding: 0 30px 70px;
	}
	.section2 .cols2 {
		width: 100%;
		display: block;
	}
	.section2 .cols2.first {
		margin-bottom: 10px;
	}
	.section2 .cols2.column2 {
		padding: 0;
	}

}
@media only screen and (max-width: 768px) {
	.section2 .sec2addr {
		font-size: 14px;
	}
	.section2 .contactform h3 {
		font-size: 16px;
	}
	.section2 .contactform input[type="text"], .section2 .contactform input[type="email"], .section2 .contactform textarea {
		padding: 10px;
		margin:3px 0;
	}
	.section2 .contactform input[type="submit"] {
		padding: 10px 30px;
		font-size: 14px;
	}
}
@media only screen and (max-width: 420px) {
	.section1 h1 {
		font-size: 28px;
	}
}
#contactus{
  background-color:#F8F0DF;
  padding-bottom: 3%;
  padding-top: 5%;

}

#blog{
  padding: 10%;
  background-color: #fff;
  text-align: center;
  position: relative;
  z-index: 1;
}
.blogi{
  width: 70%;
}
#news{
  background-color: #F8F0DF;

padding-left: 30%;
padding-right: 30%;
padding-bottom: 5%;
padding-top: 5%;

}






/* Our Team
-------------------------------------------------------*/

.our-team .team-row {
  margin-left: -40px;
  margin-right: -40px;
}

.our-team .team-wrap {
  padding: 0 40px;
}

.our-team .container-fluid {
  padding: 0 50px;
}

.team-img img {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  overflow: hidden;
  width: 100%;
}

.team-member,
.team-img {
  position: relative;
  overflow: hidden;
}

.team-title {
  margin: 30px 0 7px;
}

.overlay {
  background-color: rgba(20,20,20,.7);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.team-details {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 5%;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.team-details p {
  color: #fff;
}

.team-img:hover .team-details {
  opacity: 1;
  margin-top: -80px;
}

.team-img:hover .overlay {
  opacity: 1;
}

.socials a {
  display: inline-block;
  width: 37px;
  height: 37px;
  background-color: transparent;
}

.socials i {
  line-height: 37px;
  color: #616161;
  font-size: 14px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.team-details .socials i {
	color: #fff;
}

.socials a:hover i {
  color: #fff;
  background-color: #355c7d;
}
#teams{
  padding-top: 2%;
  padding-bottom: 5%;
}
.maps{
  max-width: 100%;
}

.prj{
  max-width: 100%;
}
.contactform{
  max-width: 100%;
  width: 100%;
}
